<?
if($this->isAjax){
	echo $this->general()->creartablaBoletos($this->lista,$this->columnas,$this->extra_columnas);
	
}else{ 
	$controller = Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
	?>
	<div class='row'>
		<div class="fixer">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class='page-header'><?=$this->setcode($this->titulo);?></h3>
							<a id="" style='float:right;margin-top:9px;'>  
								<button   onclick = "general.obtenerFormulario(0);" data-toggle='#myForms' data-controller="<?=$this->controller?>" type="button" id="new" name="new" class="btn btn-success btn-xs">
								<?=$this->setcode($this->titulo_alta);?>
								</button>
							</a>

				</div>
				<br/>
				<ul id='myTab' class="nav nav-tabs">
				<!--thead-->
					<li class='active' ><a data-toggle='tab' href="" onClick ="general.obtenerDatos(1);return false;">Apartado</a></li>
					<li><a data-toggle='tab' href="" onClick ="general.obtenerDatos(2);return false;">Abonado</a></li>
					<li><a data-toggle='tab' href="" onClick ="general.obtenerDatos(3);return false;">Pagado</a></li>
					<li><a data-toggle='tab' href="" onClick ="general.obtenerDatos(4);return false;">Terminado</a></li>
				<!--/thead-->
				</ul>
				<div class="panel-body" id="listTable">
					<div class="tab-content">
						<div class='tab-pane fade in active' id='tab'>
						<?
							echo $this->general()->creartablaBoletos($this->lista,$this->columnas,$this->extra_columnas);
						?> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<?}?>