<form role="form" id="miformulario" >
  <input type="hidden" value="<?=($this->vacio($this,'editar')==1)?1:0;?>" name="editar" id="editar"/>
  <input type="hidden" class="id" value="<?=($this->vacio($this->data,'id_sorteo')=="")?0:$this->data->id_sorteo;?>" id="id_sorteo" name="id_sorteo"/>
  <input type="hidden" value="<?=$this->vacio($this,'token');?>" name="token" id="token"/>
  <input type="hidden" value="<?=$this->vacio($this->data,'estado')?>" name="estado" id="estado"/>
  <div class="row">
    <div class="form-group col-md-12">
        <label for="descripcion" class="control-label">Nombre de la rifa</label>
        <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Nombre de la rifa" required autofocus value="<?=$this->vacio($this->data,'descripcion')?>">
    </div>
    <div class="form-group col-md-6">
        <label for="fecha_inicio" class="control-label">Fecha de inicio:</label>
        <input type="text" class="form-control datepicker" id="fecha_inicio" name="fecha_inicio" placeholder="Fecha de inicio" value="<?=($this->vacio($this->data,'fecha_inicio')=="")?"":$this->vacio($this->data,'fecha_inicio');?>" required>
    </div>
    <div class="form-group col-md-6">
        <label for="fecha_final" class="control-label">Fecha de finalizacion:</label>
        <input type="text" class="form-control datepicker" id="fecha_final" name="fecha_final" placeholder="Fecha de finalizacion" value="<?=($this->vacio($this->data,'fecha_final')=="")?"":$this->vacio($this->data,'fecha_final');?>" required>
    </div>
    <div class="form-group col-md-6">
        <label for="limite" class="control-label">Cantidad de boletos</label>
        <input type="text" class="form-control"  id="limite" name="limite" placeholder="Cantidad de boletos" required autofocus value="<?=$this->vacio($this->data,'limite')?>">
        <div class="help-block with-errors" id="error_limite"></div>
    </div>
    <div class="form-group col-md-6">
        <label for="costo" class="control-label">Costo por boleto</label>
        <input type="text" class="form-control"  id="costo" name="costo" placeholder="Costo por boleto" required autofocus value="<?=$this->vacio($this->data,'costo')?>">
        <div class="help-block with-errors" id="error_costo"></div>
    </div>
    <div class="form-group col-sm-12" >
                <label for="archivo" class="control-label">Fotos portada</label>
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Subir archivo <input accept=".jpg,.png,.jpeg,.gif" class="hidden"  name="banner" type="file" id="archivo">
                        </span>
                    </label>
                    <input class="form-control" id="banner_captura" readonly="readonly" reqname="banner_captura" type="text" value="">
                </div>
            </div>
  </div>
</form>