<div id="main-slide">
  <h1>
    Sorte de rifas pitic Mazda 4 2021 4 cil 
  </h1>

</div>

<div id="main-slide2">
  <h1>
    ↓ Consigue tu boleto aqui abajo ↓
  </h1>

</div>

<a name="Inicio" />

<div id="main-content">

<div id="img" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#img" data-slide-to="0" class="active"></li>
    <li data-target="#img" data-slide-to="1"></li>
    <li data-target="#img" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/imgsorteo/1.jpg" alt="Los Angeles" >
      <div class="carousel-caption">
        <h3>Los Angeles</h3>
        <p>We had such a great time in LA!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="/imgsorteo/2.jpg" alt="Chicago" >
      <div class="carousel-caption">
        <h3>Chicago</h3>
        <p>Thank you, Chicago!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="/imgsorteo/3.jpg" alt="New York" >
      <div class="carousel-caption">
        <h3>New York</h3>
        <p>We love the Big Apple!</p>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#img" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#img" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>



<!--
<div id="sliderrifa" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/imgsorteo/1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/imgsorteo/2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/imgsorteo/3.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#sliderrifa" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#sliderrifa" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
-->

<div id="main-slide2">
  <h1>
    Participa por todo con $500
    <br>
    Mazda 4 2021 4 cil. 07/05/2021
    <br>
    $25,000 MXN. 28 ABRIL 2021
    <br>
    $20,000 MXN. 21 ABRIL 2021
    <br>
    $10,000 MXN. 14 ABRIL 2021
    <br>
  </h1>

</div>



<a name="Comprar" />
<div id="main-slide">
  <h1>
    ↓ Numeros disponibles ↓
  </h1>
  <br>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button" id="BtnPart">¡Participa!</a>
  </p>
</div>
<div class="main-content">
  <?foreach($this->rifas as $r){
    //echo "<div class=\"col-md-12 bg-secondary \" id=\"boletos\">".$r->descripcion."</div>";
    echo "<div class=\"container oculto\">";
    $cantidad=0;
    foreach($this->boletosrifa[$r->id_sorteo] as $boleto){
      $estado="";
      $ocupado=1;
      switch($boleto["estado"]){
        case 1:$estado="badge-danger";break;
        case 2:$estado="badge-danger";break;
        case 3:$estado="badge-danger";break;
        default:$estado="badge-success";$ocupado=0;break;
      }
      if($ocupado==1)
        echo "<span href=\"#\" class=\"badge badge-pill ".$estado."\" data-ids='".$r->id_sorteo."' data-val='".$boleto["num_boleto"]."'>".str_pad((string)$boleto["num_boleto"], 4, "0", STR_PAD_LEFT)."</span>";
      else
        echo "<span href=\"#\" class=\"bltpdr badge badge-pill ".$estado."\" data-ids='".$r->id_sorteo."' data-val='".$boleto["num_boleto"]."'>".str_pad((string)$boleto["num_boleto"], 4, "0", STR_PAD_LEFT)."</span>";
      $cantidad++;
    }
    ?>
    <p class="oculto">
      <a class="btn btn-primary btn-lg" style="float:right;" href="#" role="button" id="BtnPedir" data-cantidad="<?=$cantidad?>">Pedir boletos!</a>
    </p>
    <?
    echo "</div>";
    
  }
?>

<br></br>

<a name="Preguntas" />
</div>
  <div class="jumbotron">
  <h1 class="display-4">¿Preguntas?</h1>
  <hr class="my-4">
  <p class="lead">¿Como participo?</p>
  <p>En la parte de abajo esta el modulo de apartado en donde seleccionaras el numero de boleto que tu quieras, una ves seleccionado llenas una serie de informacion, al dar aceptar al boton te llegara un msj de whatsapp con las formas de pago y las indicaciones a seguir</p>
  <p class="lead">
  <hr class="my-4">
  <p class="lead">¿Que metodos de pago existen?</p>
  <p>El pago puede ser por los siguientes metodos Oxxo, Banco o transferencia</p>
  <p class="lead">
  <hr class="my-4">
  <p class="lead">¿Como se elige al ganador?</p>
  <p>Se hace un sorteo en vivo desde la pagina de FaceBook oficial</p>
  <p class="lead">
  <hr class="my-4">
  <p class="lead">¿Que pasa si gana un boleto que no se vendio?</p>
  <p>Se elegira un nuevo ganador realizando la misma dinamica en otra fecha cercana (se anunciara la nueva fecha)</p>
  </div>
  </div>
  <br>

<div id="main-slide">
  <h1>
    Preguntas al Whatsapp:
    <br>
    <a href="https://api.whatsapp.com/send/?phone=526622008964&text&app_absent=0">(662)200 89 64</a>
  </h1>

</div>

</div>
</div> 
<script>
  principal.iniciar();
</script>