<form role="form" id="miformulario" >
  <input type="hidden" value="<?=($this->vacio($this,'editar')==1)?1:0;?>" name="editar" id="editar"/>
  <input type="hidden" class="id" value="<?=($this->vacio($this->data,'id_usuario')=="")?0:$this->data->id_usuario;?>" id="id_usuario" name="id_usuario"/>
  <input type="hidden" value="<?=$this->vacio($this,'token');?>" name="token" id="token"/>
  <input type="hidden" value="<?=$this->vacio($this->data,'estado')?>" name="estado" id="estado"/>
  <div class="form-group">
      <label for="nombre_completo" class="control-label">Nombre</label>
      <input type="text" class="form-control" id="nombre_completo" name="nombre_completo" placeholder="Nombre" required autofocus value="<?=$this->vacio($this->data,'nombre_completo')?>">
  </div>
   <div class="form-group">
      <label for="telefono" class="control-label">Telefono</label>
      <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Telefono" required value="<?=$this->vacio($this->data,'telefono')?>">
  </div>
  <div class="form-group">
      <label for="correo" class="control-label">Correo</label>
      <input type="email" class="form-control" id="correo" name="correo" placeholder="Correo" data-error="Este correo es invalido" required value="<?=$this->vacio($this->data,'correo')?>">
      <div class="help-block with-errors" id="error_email"></div>
  </div>
  <div class="form-group">
      <label for="usuario" class="control-label">Usuario</label>
      <input type="text" class="form-control"  id="usuario" name="usuario" placeholder="Usuario" required autofocus value="<?=$this->vacio($this->data,'usuario')?>">
      <div class="help-block with-errors" id="error_usuario"></div>
  </div>
  <?if($this->vacio($this,'editar')==1){?>
    <div class='form-group'>
        <button id="cambiar" type='button' class="btn btn-primary">Cambiar Contraseña</button>
    </div>
  <?}?>
  <div class="form-group">
    <label for="contraseña" class="control-label">Contraseña</label>
    <div class=" row">
      <div class="form-group col-sm-6">
        <input type="password" data-minlength="6" <?echo ($this->vacio($this,'editar')==1)?'disabled':'';?> class="form-control" id="contrasena" name="contrasena" placeholder="Contraseña" <?echo ($this->vacio($this,'editar')==1)?'':'required';?> >
        <div class="help-block " >Minimo 6 caracteres</div>
      </div>
      <div class="form-group col-sm-6">
        <input type="password" class="form-control" <?echo ($this->vacio($this,'editar')==1)?'disabled':'';?> id="confirmarcontrasena" data-match="#contrasena" data-match-error="Los campos no coinciden" placeholder="Confirmar contraseña" <?echo ($this->vacio($this,'editar')==1)?'':'required';?> >
        <div class="help-block with-errors"></div>
      </div>
    </div>
  </div>
</form>