<div id="main-content" class="fixer">
	<br>
	<div class="container panel-body fixer">
		<div class="col-md-1"></div>
		<div class="col-md-2" id="boletoss">Boletos Disponibles</div>
		<div class="col-md-2 bg-warning" id="boletos">Boletos Apartados</div>
		<div class="col-md-2 bg-info" id="boletos">Boletos Abonados</div>
		<div class="col-md-2 bg-success" id="boletos">Boletos Pagados</div>
	</div>
	<?foreach($this->rifas as $r){
		//echo "<div class=\"col-md-12 bg-secondary \" id=\"boletos\">".$r->descripcion."</div>";
		echo "<div class=\"container \" id=\"cont_rifa\">";

		foreach($this->boletosrifa[$r->id_sorteo] as $boleto){
			$estado="";
			switch($boleto["estado"]){
				case 1:$estado="bg-warning";break;
				case 2:$estado="bg-info";break;
				case 3:$estado="bg-success";break;
			}
			echo "<div id=\"boletoss\" class=\"col-xs-1 ".$estado."\">".$boleto["num_boleto"]."</div>";
		}
		echo "</div>";
	}
	?>
</div>