<div id="main-content">
	<div  class="fixer">
		<div class="form-group">
			<br><br><br><br>
			<h3 >Perfil del Usuario <a title='Editar Usuario' onclick='perfil.obtenerformulario()' class='fancybox' style='cursor:pointer'><img src='/imagenes/iconos/pencil.png' /></a></h3>
		</div>
		<div><hr></div>
		<br>


		<div class="row">
			<div class="form-group col-sm-6">
				<label for="nombre_completo" class="control-label  col-sm-4">Nombre:</label>
				<div class="col-sm-6">
						<p class="control-label"><?=$this->vacio($this->data,'nombre_completo')?></p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="form-group col-sm-6">
				<label for="telefono" class="control-label col-sm-4">Telefono:</label>
				<div class="col-sm-6">
						<p class="control-label"><?=$this->vacio($this->data,'telefono')?></p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="form-group col-sm-6">
				<label for="correo" class="control-label col-sm-4">Correo:</label>
				<div class="col-sm-6">
						<p class="control-label"><?=$this->vacio($this->data,'correo')?></p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="form-group col-sm-6">
				<label for="usuario" class="control-label col-sm-4">Usuario:</label>
				<div class="col-sm-6">
						<p class="control-label"><?=$this->vacio($this->data,'usuario')?></p>
				</div>
			</div>
		</div>
		<br>
	</div>
</div>