*{
  padding:0;
  margin:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right:;

}

div.container.cont_das{
	margin-top: 10px;
	border-style: outset;
	padding-left: 80px;

}
#boletos {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
#boletoss {
margin-left: 35px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}