.modal-header{
	background: #023859;
	color: #FAFAFA;
	border: 1px;
	padding-top: -2px;
	font-size: 18px;
}
.modal-footer {
	background: #FAFAFA;
}
input.form-control {

}
.btn{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
.btna{
	color: #000;
	font-size: 14px;
	font-weight: bold;
}
.btn-telmodal{
    margin-top: 24px;
}
.telabsolute{
	position:absolute;
}
.tel{
	margin-top:5px;
}
.has-error .chosen-container {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	border: 1px solid #843534;
	border-radius: 4px;
}
.has-error .chosen-container:focus {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
	border: 1px solid #843534;
	border-radius: 4px;
}

