.ui-autocomplete {
    position: absolute;
    z-index:2147483647;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
  padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}
caption .titulo{
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
	text-align: center;
	font-size: 20px;
}
ul hr{
	background: #106BA3;
}
.row-center{
	text-align: center;
	font-size:20px;
	padding-bottom: 8px;
	padding-top: 8px;
}
.textbox
  {
  border: 1px solid #DBE1EB;
  font-size: 18px;
  font-family: Arial, Verdana;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
  }
  
  .textbox:focus
  {
  color: #2E3133;
  border-color: #FBFFAD;
  }
.modal-header{
  background: #A6420C;
  color: #FAFAFA;
  border: 1px;
  padding-top: -2px;
  font-size: 18px;
}
.alert{
  display:none;
}
.emergente{
  position: fixed;
  top: 0;
  left: 79%;
  z-index: 1050;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #023859;
    color: white;
}
.contenedor-rutas{
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 8px;
	margin-right: auto;
	margin-left: auto;
	max-width: 90%;
	border: #7F0000 3px solid;
	border-radius: 20px;
	padding: 0px;
	margin: auto;
}
#main-slide {
  background: #1870AE;
  color: white;
  height: relative;
  width: 100%; 
  left: 0; 
  top: 0; 
  text-align: center;
  z-index: 1000;
} 
#main-slide2 {
  background: #A0B3C1;
  color: white;
  height: relative;
  width: 100%; 
  left: 0; 
  top: 0; 
  text-align: center;
  z-index: 1000;
} 
#main-header {
	background: #333;
	color: white;
	height: 80px;
	width: 100%; 
	left: 0; 
	top: 0; 
	position: fixed; 
	z-index: 1000;
} 
#main-header a {
	color: white;
}
@media screen and (max-width: 715px) {
  .disapair {
  display: none;
  }
}

#logo-header {
  float: left;
  padding: 10px 0 0 20px;
  text-decoration: none;
}
#logo-img {
  float: left;
  padding: 0px 0 0 20px;
  text-decoration: none;
}
  #logo-header:hover {
    color: #0b76a6;
  }
  
  #logo-header .site-name {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
  }
  
  #logo-header .site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
  }
  nav {
  float: right;
}
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
  }
  
    nav ul li {
      display: inline-block;
      line-height: 80px;
    }
      
      nav ul li a {
        display: block;
        padding: 0 10px;
        text-decoration: none;
      }
      
        nav ul li a:hover {
          background: #0b76a6;
        }
#logo-header {
  float: left;
  padding: 15px 0 0 20px;
  padding-bottom: 40px;
  text-decoration: none;
}
  #logo-header:hover {
    color: #0b76a6;
  }
  
  #logo-header .site-name {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
  }
  
  #logo-header .site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
  }
.row-ruta{
   background: #260000;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   padding-bottom:15px;
   padding-top:15px;
}
.row-fluid{
	 background-color: #f0f0f0;
	 border-top-left-radius: 10px;
	 border-top-right-radius: 10px;
	 padding-bottom:15px;
	 padding-top:15px;
}
body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.listapack li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.listapack li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

ol.vertical {

  margin: 0 0 9px 0;
  min-height: 10px; }
  /* line 13, /Users/jonasvonandrian/jquery-sortable/source/css/jquery-sortable.css.sass */
  ol.vertical li {
  	cursor:pointer;
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    color: #0088cc;
    background: #eeeeee; }
  /* line 20, /Users/jonasvonandrian/jquery-sortable/source/css/jquery-sortable.css.sass */
  ol.vertical li.placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    border: none; }
    /* line 25, /Users/jonasvonandrian/jquery-sortable/source/css/jquery-sortable.css.sass */
    ol.vertical li.placeholder:before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      margin-top: -5px;
      left: -5px;
      top: -4px;
      border: 5px solid transparent;
      border-left-color: red;
      border-right: none; }
@media screen and (max-width: 1200px) {  
  .emergente{
      left: 65%;
  } 
}
@media screen and (max-width: 1100px) {  
  .emergente{
      left: 60%;
  } 
}
@media screen and (max-width: 900px) {  
  .emergente{
      left: 55%;
  } 

}
@media screen and (max-width: 800px) {  
  .emergente{
      left: 50%;
  } 
}
@media screen and (max-width: 700px) {  
  .emergente{
      left: 45%;
  } 
}
@media screen and (max-width: 600px) {  
  .emergente{
      left: 0%;
  } 


}