body{
background: url(/imagenes/fondo.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
a {
	padding-left: 45%;
}
.container-login {
	padding-top: 40px;
}
.panel-heading {
    padding: 5px 15px;
    background: url(/imagenes/fondo.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
opacity: .8;
}
.panel-heading h4{
	color: black;
	text-align: center;
}
.panel-footer {
	padding: 1px 15px;
	color: black;
	background: url(/imagenes/fondo.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
opacity: .8;
}
.panel-body{
background: url(/imagenes/fondo.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
opacity: .8;

}
.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
@media (min-width: 768px) {
  .container {
	padding-top: 40px;
  }
}