
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#panel-default {
  padding: 3px 10px;
  border: #1F2B8A 3px solid;
  border-radius: 20px;
  float:left;
  height: auto;
  width: 35%;
  margin:auto;
  background: #F0F0F0;
}
#map {
	height: 70%;
	width: 60%;
	float:left;
	padding-left: 15px;
}
.row-ruta{
	background: #f0f0f0 !important;
	border-radius: 15px !important;
}
#info {
  position: absolute;
  height: 1px;
  width: 1px;
  z-index: 100;
}
.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
.tooltip.top .tooltip-arrow {
  border-top-color: white;
}
.tooltip-inner {
  border: 2px solid white;
}
@media screen and (max-width: 1530px){
	#panel-default {
	  padding: 3px 10px;
	  border: #1F2B8A 3px solid;
	  border-radius: 20px;
	  float:left;
	  height: auto;
	  width: 45%;
	  margin:auto;
	  background: #F0F0F0;
	}
	#map {
		height: 90%;
		width: 50%;
		float:left;
		padding-left: 15px;
	}
}
@media screen and (max-width: 768px){
	#panel-default {
	  padding: 3px 10px;
	  border: #1F2B8A 3px solid;
	  border-radius: 20px;
	  float:left;
	  height: auto;
	  width: 95%;
	  margin:auto;
	  background: #F0F0F0;
	}
	#map {
		height: 80%;
		width: 80%;
		float:left;
		padding-top: 80px;
	}
}