*{
  padding:0;
  margin:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
.row{
  padding-top: 10px;
}
.fixer{
    padding-top: 10%;
    padding-left: 15px;
    margin:auto;
    padding-right: 8px;
}
.navbar{
    background: #222;
    position: fixed;
    height: 10%;
    width: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
    overflow: auto;
    overflow-x: hidden;
}
.collapse.in[aria-expanded="true"]{
    background: #222;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
    overflow: auto;
    overflow-x: hidden;
}
.navbar-header{
    width: 60%;
}

@media screen and (min-width: 825px) {
  .navbar-collapse {
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
    height: auto;
  }
  .fixer{
    padding-left: 204px;
    padding-top: 8px;
    padding-right: 8px;
  }
  .navbar-toggle{
    background: black;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }
  .navbar{
    height: 100%;
    width: 75%;
    max-width:180px;
    margin-right: 0;
    margin-left: 0;
    overflow-x: hidden;
  } 

  .navbar-nav,
  .navbar-nav > li,
  .navbar-left,
  .navbar-right,
  .navbar-header
  {float:none !important;}

  .navbar-right .dropdown-menu {left:0;right:auto;}
  .navbar-collapse .navbar-nav.navbar-right:last-child {
      margin-right: 0;
  }
  }