<div id="main-content">
<div class="container">
		<div class="input-sm" id="datepicker">
		<br><br><br>
		<h3 class='page-header'>Control de abonos</h3>
		<div class="form-group col-md-offset-3 col-md-6">
		<div class="input-group input-daterange">
			<input class="form-control input-sm datepicker"  type="text" name="fecha1" id="fecha1" placeholder="Fecha" value="">
			<div class="input-group-addon">Hasta</div>
			<input class="form-control input-sm datepicker"  type="text" name="fecha2" id="fecha2" placeholder="Fecha" value="<?php  echo date("d/m/Y"); ?>" >
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-3 col-md-6">
				<button  type="submit" name="submit" class="btn btn-block btn-primary" id="consulta2">Consultar</button>

			</div>
		</div>

		</div>
    </div>
</div>
