<div id="main-content">
<div class="container">
		<div class="input-sm">
		<br><br><br>
		<h3 class='page-header'>Boletos vendidos</h3>
		<div class="form-group col-md-offset-3 col-md-6">
	        <label for="rifa" class="control-label hidden">Elija la rifa</label>
	        <select class="chosen-select" multiple id="rifa" name="rifa" tabindex="2">
	        	<?foreach($this->rifa as $r){?>
	        		<option value="<?=$r->id_sorteo?>" ><?=$r->descripcion?></option>
	        	<?}?>
	        </select>
    	</div>
		<div class="form-group">
			<div class="col-md-offset-3 col-md-6">
				<button  type="submit" name="submit" class="btn btn-block btn-primary" id="consulta">Consultar</button>
			</div>
		</div>
    </div>
</div>
</div>
</div>