<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon return glyphicon-eye-open"></span> Bienvenido</div>
                <div class="panel-body">
                <form method="post" class="form-horizontal" id="logeo" data-toggle="validator" role="form">
                    <input type="hidden" value="<?=$this->vacio($this,'token');?>" name="token" id="token"/>
                    
                    <div class="cont">
                    <div class="form-group">
                        <div class="input-group">
                            <label for="inputEmail" class="sr-only">Usuario</label>
                            <div class="input-group-addon"><span class="icon-user"></span></div>
                            <input type="text" id="usuario" name="usuario" class="form-control" placeholder="Ingrese usuario" required autofocus>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <label for="inputPassword" class="sr-only">Contraseña</label>
                            <div class="input-group-addon"><span class="icon-lock"></span></div>
                            <input type="password" id="contrasena" name="contrasena" class="form-control" placeholder="Contraseña" required>
                        </div>
                    </div>
                    </div>

                    <div class="">
                        <div class="help-block with-errors" id="errorlogin"></div>
                    </div>
                    <div class="">
                        <button onclick="login.iniciarsesion();return false;" class="btn btn-lg btn-success btn-block" type="submit">iniciar sesion</button>
                        <a class="return" href="/principal">Volver a rifa</a>
                    </div> 
                    <div class="uusario">
                    <?=$this->message?> 
                    </div> 
                </form>
                </div>
            </div>
        </div>
    </div>
</div>