<form role="form" id="miformulario" >
    <input type="hidden" value="<?=($this->vacio($this,'editar')==1)?1:0;?>" name="editar" id="editar"/>
    <input type="hidden" class="id" value="<?=($this->vacio($this->data,'id_cuenta')=="")?0:$this->data->id_cuenta;?>" id="id_cuenta" name="id_cuenta"/>

    <div class="row">
        <div class="form-group col-md-6">
            <label for="Numero_referencia" class="control-label">Número de referencia</label>
            <input type="text" class="form-control" id="Numero_referencia" name="Numero_referencia" required placeholder="Número de referencia" value="<?=$this->vacio($this->data,'Numero_referencia')?>">
        </div>
        <div class="form-group col-md-6">
            <label for="Banco" class="control-label">Banco</label>
            <input type="text" class="form-control" id="Banco" name="Banco" placeholder="Banco" required value="<?=$this->vacio($this->data,'Banco')?>">
        </div>
        
    </div>
</form>