<!DOCTYPE html PUBLIC>
<html>
    <head>
        <title>Log in</title>
        <link rel="shortcut icon" type="image/x-icon" href="/public/imagenes/rifa.png">
    <?
    //$this->headLink()->appendStylesheet('/stylesheets/bootstrap/bootstrap.css','screen');
    echo $this->headLink();
    echo $this->headScript();?>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    </head>
    <body>
        <div class="container">
        <? echo $this->layout()->content; ?>
        <!-- /card-container -->
        </div><!-- /container -->
    </body>
</html>
