<!DOCTYPE html PUBLIC>
<html lang="es">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<title>Rifa entre compas</title>
		 <link rel="shortcut icon" type="image/x-icon" href="/public/imagenes/rifa2.png">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<!--script src="http://maps.google.com/maps/api/js?v=3.5&amp;sensor=false"-->
		<!--<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCyVXmCP2XRWu_Tv4ZeqaHrSPCElDK694M"></script> -->
		<!--/script-->

	<?
	//$this->headLink()->appendStylesheet('/stylesheets/bootstrap/bootstrap.css','screen');
	echo $this->headLink();
	echo $this->headScript();?>

	<header id="main-header">
		<a id="logo-img" href="/index">
			<img src="/imagenes/rifa3.png">
			</a>
			<a id="logo-header" href="/index">
				<span class="site-name">Rifa entre compras</span>
				<span class="site-desc">Por definir</span>
			</a>
	 
			<nav>
				<ul>
					<li class="disapair"><a href="/index/perfil">Perfil</a></li>
					<li class="disapair"><a href="#">Acerca de</a></li>
				</ul>
			</nav>
	 
		</header>

	</head>
	<body style="padding-top: 80px; position:relative;">
		<? include "menu.php";?>
		<? echo $this->layout()->content; ?>
		<div id="Formulario" class="modal fade" role="dialog">
			<div class="modal-dialog" >
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title" id="titulo"><?=$this->titulo_alta?></h4>
					</div>
					<div class="modal-body" id="contenido">

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-success" id="guardar" >Guardar</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
					</div>
				</div>

			</div>
		</div>
		<div class="emergente">
			<div class="alert alert-success" role="alert" id="success">
			</div>
			<div class="alert alert-info" role="alert" id="info">
			</div>
			<div class="alert alert-warning" role="alert" id="warning">
			</div>
			<div class="alert alert-danger" role="alert" id="danger">
			</div>
		</div>
	</body>
</html>
<script type="text/javascript">
	$(document).ready(function(){
                    <?if(!empty($this->iniciar_javascript)){
                    	echo $this->iniciar_javascript;
                   }?>
                    nav.iniciar();
              });
</script>