<!DOCTYPE html PUBLIC>
<html lang="es">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<title>Rifa entre compas</title>
		 <link rel="shortcut icon" type="image/x-icon" href="/public/imagenes/rifa2.png">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<?
	//$this->headLink()->appendStylesheet('/stylesheets/bootstrap/bootstrap.css','screen');
	echo $this->headLink();
	echo $this->headScript();?>


	</head>
	<body>
		
		<? echo $this->layout()->content; ?>
		<div id="Formulario" class="modal" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="titulo"><?=$this->titulo_alta?></h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body" id="contenido">
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-success" id="guardar">Guardar</button>
		        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
		      </div>
		    </div>
		  </div>
		</div>

		
		<div class="emergente">
			<div class="alert alert-success" role="alert" id="success">
			</div>
			<div class="alert alert-info" role="alert" id="info">
			</div>
			<div class="alert alert-warning" role="alert" id="warning">
			</div>
			<div class="alert alert-danger" role="alert" id="danger">
			</div>
		</div>
	</body>
</html>
<script type="text/javascript">
	$(document).ready(function(){
                <?if(!empty($this->iniciar_javascript)){
                	echo $this->iniciar_javascript;
               }?>
                nav.iniciar();
          });
</script>