<form role="form" id="miformulario" >
    <input type="hidden" value="<?=($this->vacio($this,'editar')==1)?1:0;?>" name="editar" id="editar"/>
    <input type="hidden" class="id" value="<?=($this->vacio($this->data,'id_abono')=="")?0:$this->data->id_abono;?>" id="id_abono" name="id_abono"/>

    <div class="row">
        <?if($this->vacio($this->data,'id_abono')!=""){?>
            <div class="form-group col-md-6">
                <label for="id_sorteo" class="control-label">Selecciona el sorteo</label>
                <select class="chosen-select" id="id_sorteo" name="id_sorteo">
                <option value="" disabled selected>Selecciona un sorteo activo</option>
                <?foreach($this->rifas as $tipo){?>
                    <option value="<?=$tipo->id_sorteo?>" <?=($this->vacio($this->data,'id_sorteo') == $this->vacio($tipo,'id_sorteo'))? 'selected' : ''?>><?=$tipo->descripcion?></option>

                <?}?>
                </select>
            </div>
            
            <div class="form-group col-md-6" id="div_boletos">
                <label for="num_boleto" class="control-label">Numero de boleto</label>
                <select class="chosen-select"  id="id_boleto" name="id_boleto" required >
                    <option value="">Seleccione un boleto</option>
                    <?if(($this->vacio($this->data,'id_boleto')!="")){?>
                        <?foreach($this->boletos as $b){?>
                            <option value="<?=$b->id_boleto?>" <?=($this->vacio($this->data,'id_boleto') == $b->id_boleto)? 'selected' : ''?>><?=$b->num_boleto?> - <?=$b->nombre_completo?></option>
                        <?}?>
                    <?}?>
                </select>
                <div class="help-block with-errors" id="error_boleto"></div>
            </div>
        <?}else{?>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        <button id="bagregarfab" type="button" class="btn btn-primary btn-block ">Agregar nuevo registro</button>
                    </div>
                </div>
            </div>
            <div><hr></div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="unidad" class="control-label col-md-4 " style="text-align:center;">Rifa:</label>
                    <label for="totalxprod" class="control-label col-md-4 " style="text-align:center;">Boleto:</label>
                    <label for="totalxprod" class="control-label col-md-4 " style="text-align:center;">Cantidad:</label>
                </div>
            </div>
            <div><hr></div>
            <div  id="primer_abono">
                <div class="form-group col-md-4">
                    <select class="chosen-select" id="abono_sorteo_1" name="abono_sorteo" tabindex="2" onchange="abono.obtenerboletosporrifa(this,'1')">
                        <option value="" disabled selected>Seleccione el sorteo</option>
                        <?foreach($this->rifas as $tipo){?>
                            <option value="<?=$tipo->id_sorteo?>"><?=$tipo->descripcion?></option>
                        <?}?>
                    </select>
                </div>
                <div class="form-group col-md-4" id="div_boletos_1">
                    <select class="chosen-select"  id="abono_boleto_1" name="abono_boleto" required onchange="abono.agregarboleto(this,'1')">
                        <option value="">Seleccione un boleto</option>
                    </select>
                    <div class="help-block with-errors" id="error_boleto_1"></div>
                </div>
                <div class="form-group col-md-4">
                    <div class="input-group">
                        <span class="input-group-btn"><button type="button" class="btn btn-secundary " style="color: #000; " disabled onclick="return false;" >$</button>
                        </span>
                        <input type="text" class="form-control" id="abono_cantidad_1" name="abono_cantidad" placeholder="Precio" value="" required  onchange="abono.validarpgo('1')">

                        <span class="input-group-btn  disabled">
                            <button type="button" disabled class="btn btn-secundary" style="background-color: #C70039; " id="close closeprod ">X</button>
                        </span>
                    </div>
                    <div class="help-block with-errors" id="error_importe_1"></div>
                </div>
                
            </div>
            <div id="div_abonos">
            </div>
        <?}?>
         <div class="form-group col-sm-6">
            <label for="id_cuenta" class="control-label">Cuenta</label>
            <select class="chosen-select" id="id_cuenta" name="id_cuenta"  required>
                <option value="">Seleccione una cuenta</option>
                <?foreach($this->cuentas as $cuenta){?>
                    <option value="<?=$cuenta->id_cuenta?>" <?=($this->vacio($this->data,'id_cuenta') == $this->vacio($cuenta,'id_cuenta'))? 'selected' : ''?>><?=$cuenta->Numero_referencia?> - <?=$cuenta->Banco?></option>
                <?}?>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="descripcion" class="control-label">Descripción </label>
            <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Descripcion" value="<?=($this->vacio($this->data,'descripcion')=="")?"":$this->vacio($this->data,'descripcion');?>" required>
        </div>
        <div class="form-group col-md-6">
            <label for="fecha" class="control-label">Fecha </label>
            <input type="text" class="form-control datepicker" id="fecha" name="fecha" placeholder="Fecha" value="<?=($this->vacio($this->data,'fecha')=="")?"":$this->vacio($this->data,'fecha');?>" required>
        </div>
        <?if($this->vacio($this->data,'id_abono')!=""){?>
            <div class="form-group col-md-6">
                <label for="importe" class="control-label">Importe </label>
                <div class="input-group">
                    <span class="input-group-btn"><button type="button" class="btn btn-secundary " style="color: #000; "  disabled onclick="return false;" >$</button></span>
                    <input type="text" class="form-control" id="importe" data-error="Solo Dígitos" pattern="^[0-9.]+$" name="importe" placeholder="0.00" value="<?=($this->vacio($this->data,'importe')=="")?"":$this->vacio($this->data,'importe');?>" required>
                </div>
                <div class="help-block with-errors" id="error_importe"></div>
            </div>
        <?}else{?>
            <div class="form-group col-md-6">
                <label for="importe" class="control-label">Total </label>
                <div class="input-group">
                    <span class="input-group-btn"><button type="button" class="btn btn-secundary " style="color: #000; "  disabled onclick="return false;" >$</button></span>
                    <input type="text" class="form-control" id="total"  name="total"  disabled>
                </div>
                <div class="help-block with-errors" id="error_importe"></div>
            </div>
        <?}?>
        <?if($this->vacio($this->data,'id_abono')!=""){?>
            <div class="form-group col-sm-12" >
                <label for="archivo" class="control-label">Archivo</label>
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Subir archivo <input accept=".jpg,.png,.jpeg,.gif" class="hidden"  name="banner" type="file" id="archivo">
                            
                    </label>
                    <input class="form-control" id="banner_captura" readonly="readonly" reqname="banner_captura" type="text" value="">
                </div>
            </div>
            <?if($this->data->archivo!=''){?>
                <div class="form-group col-sm-12" >
                    <a href="<?=$this->data->archivo?>" class="btn btn-primary" download>Descargar archivo </a>
                    
                </div>
            <?}?>   
        <?}?>
    </div>
</form>