<form role="form" id="miformulario" >
    <input type="hidden" value="<?=($this->vacio($this,'editar')==1)?1:0;?>" name="editar" id="editar"/>
    <input type="hidden" class="id" value="<?=($this->vacio($this->data,'id_boleto')=="")?0:$this->data->id_boleto;?>" id="id_boleto" name="id_boleto"/>

    <div class="row">
        <div class="form-group col-md-6">
            <label for="id_sorteo" class="control-label">Selecciona el sorteo</label>
            <select class="chosen-select" id="id_sorteo" name="id_sorteo">
            <option value="" disabled selected>Selecciona un sorteo activo</option>
            <?foreach($this->rifas as $tipo){?>
            <option value="<?=$tipo->id_sorteo?>" <?=($this->vacio($this->data,'id_sorteo') == $this->vacio($tipo,'id_sorteo'))? 'selected' : ''?>><?=$tipo->descripcion?></option>
            <?}?>
            </select>
        </div>
        
        <div class="form-group col-md-6" id="div_boletos">
            <label for="num_boleto" class="control-label">Numero de boleto</label>
            <select class="chosen-select"  id="num_boleto" name="num_boleto" required >
                <option value="">Seleccione un boleto</option>
                <?if(($this->vacio($this->data,'id_boleto')!="")){?>
                    <?foreach($this->boletos as $b){?>
                        <option value="<?=$b?>" <?=($this->vacio($this->data,'num_boleto') == $b)? 'selected' : ''?>><?=$b?></option>
                    <?}?>
                <?}?>
            </select>
            <div class="help-block with-errors" id="error_boleto"></div>
        </div>
        <div class="form-group col-md-12">
            <label for="nombre_completo" class="control-label">Nombre completo</label>
            <input type="text" class="form-control" id="nombre_completo" name="nombre_completo" required placeholder="Nombre completo" value="<?=$this->vacio($this->data,'nombre_completo')?>">
        </div>
        <div class="form-group col-md-6">
           
            <label for="telefono" class="control-label">Telefono</label>
            <div class="input-group">
                 <span class="input-group-btn" style="width: 60px;"><select class="chosen-select" id="id_lada" name="id_lada"  required>
                    <?
                    $lada="";
                    $primero=0;
                    foreach($this->ladas as $l){
                        if($primero==0)
                            $lada=$l->num;
                        $primero++;
                        if($this->vacio($this->data,'id_lada') == $this->vacio($l,'id_lada'))
                            $lada=$l->num;
                        ?>
                        <option value="<?=$l->id_lada?>" data-num="<?=$l->num?>" <?=($this->vacio($this->data,'id_lada') == $this->vacio($l,'id_lada'))? 'selected' : ''?>><?=$l->descripcion?></option>
                    <?}?>
                </select>
                </span>
                <span class="input-group-btn"><button type="button" id="btnlada" class="btn btn-secundary " style="color: #000; "  disabled onclick="return false;" >+<?=$lada?></button></span>
                <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Telefono" required value="<?=$this->vacio($this->data,'telefono')?>">
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label for="estado" class="control-label">Estado</label>
            <select class="chosen-select" id="id_estado" name="id_estado"  required>
                <option value="">Seleccione un Estado</option>
                <?foreach($this->estados as $estado){?>
                    <option value="<?=$estado->id_estado?>" <?=($this->vacio($this->data,'id_estado') == $this->vacio($estado,'id_estado'))? 'selected' : ''?>><?=$estado->estado?></option>
                <?}?>
            </select>
        </div>
        <div class="form-group col-sm-6" >
            <label for="municipio" class="control-label">Ciudad</label>
            <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Ciudad"  required value="<?=$this->vacio($this->data,'ciudad')?>">
        </div>
        <div class="form-group col-md-6">
            <label for="correo" class="control-label">Correo</label>
            <input type="email" class="form-control" id="correo" name="correo" placeholder="Correo" data-error="Este correo es invalido" value="<?=$this->vacio($this->data,'correo')?>">
            <div class="help-block with-errors" id="error_email"></div>
        </div>
        <?if($this->vacio($this->data,'id_boleto')!=""){?>
            <div class="form-group col-sm-12" >
                <label for="archivo" class="control-label">Archivo</label>
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Subir archivo <input accept=".jpg,.png,.jpeg,.gif" class="hidden"  name="banner" type="file" id="archivo">
                        </span>
                    </label>
                    <input class="form-control" id="banner_captura" readonly="readonly" reqname="banner_captura" type="text" value="">
                </div>
            </div>
            <?if($this->data->archivo!=''){?>
                <div class="form-group col-sm-12" >
                    <a href="<?=$this->data->archivo?>" class="btn btn-primary" download>Descargar archivo </a>
                    
                </div>
            <?}?>   
        <?}?>
    </div>
</form>