<div class="fixer">
<div id="main-content">
<div class="container">
	<form id="miformulario" role="form">
	<br class="espacio"><br class="espacio"><br class="espacio"><br class="espacio"><br class="espacio">
		<input type="hidden" class="id" value="<?=($this->vacio($this->datos,'id_reparacion')=="")?0:$this->datos->id_reparacion;?>" id="id_reparacion" name="id_reparacion"/>
		<input type="hidden"  value="<?=($this->vacio($this->datos,'combustible'))?>" id="combustible" name="combustible"/>
		<br>
		<div id="pdf" class="form-group">
		<br>
		<h3 >Alta de reparacion</h3>
		<div><hr></div>
		<div class="form-group">
		<div class="">
			<div class="col-sm-1 ">
			</div>
			<div class="col-sm-6 ">
				<p align="justify"><b>Nota:</b> Seleccione motocicleta a reparar:</p>
			</div>
			<div class="col-sm-4 ">
		    	<select class="form-control" name="id_vehiculo">
		    		<option value="">Seleccione un vehiculo</option>
			    	<?foreach($this->vehiculos as $vehiculo){?>
			    		<option value="<?=$vehiculo->id_vehiculo?>"  <?=(($this->vacio($this->datos,'id_vehiculo'))==$vehiculo->id_vehiculo)? 'selected' : ''?>><?echo $vehiculo->num_vehiculo." --------- ".$vehiculo->placa?></option>
					<?}?>
		        </select>
			</div>
		</div>
		<div class="clearfix visible-lg-block visible-md-block visible-sm-block"></div>
		</div>
		<div><hr></div>
		<div class="row">
			<div class="form-group col-md-4">
				<label for="kilometraje" class="control-label col-md-4">Kilometraje:</label>
				<div class="col-md-8">
					<input type="text" class="form-control" id="kilometraje" name="kilometraje" placeholder="Kilometraje" value="<?=($this->vacio($this->datos,'kilometraje')=="")?"":$this->datos->kilometraje;?>" required>
				</div>
			</div>	
			<div class="form-group col-md-4">
				<label for="fecha" class="control-label col-md-4">Fecha de reparacion:</label>
				<div class="col-md-8">
					<input type="text" class="form-control datepicker" id="fecha" name="fecha" placeholder="Fecha de factura" disabled value="<?=($this->vacio($this->datos,'fecha')=='')?date('d/m/Y'):date('d/m/Y',strtotime($this->datos->fecha));?>" required>
				</div>
			</div>
			<div class="form-group col-md-4">

				<label for="fecha" class="control-label col-md-4">Nivel de gasolina:</label>
				<div class="col-md-1">
					<span class="input-group-btn" style=" position:left;">
		            	<button id="menos" type="button" class="btn btn-secundary" style=" position:left;" >-</button>
		            </span>
		        </div>
		        <div class="col-md-6">
					<div class="progress progress-striped">
						<div id="bar" class="progress-bar progress-bar-success " role="progressbar"
				aria-valuenow="20" aria-valuemin="0" data-gasolina="0" aria-valuemax="100">                  
						</div>
					</div>
				</div>
				<div class="col-md-1">
					<span class="input-group-btn">
				       	<button type="button" id="mas" class="btn btn-secundary" style=" position:right;" >+</button>
				   	</span>
		       	</div>
			</div>
		</div>
		<div><hr></div>
		<br>
		<div class="row">
			<textarea name="comentarios" placeholder="Escriba sus comentarios" class="textbox col-md-12"><?=($this->vacio($this->datos,'comentarios')=="")?'':$this->datos->comentarios?></textarea>

		</div>
		<div><hr></div>

		<h2>Revision</h2>          
		  <table class="table table-condensed col-md-6">
		    <thead>
		      <tr>
		        <th>Revision</th>
		        <th>Buen estado</th>
		        <th>Regular</th>
		        <th>Mal estado</th>
		        <th>Urgente</th>
		      </tr>
		    </thead>
		    <tbody>
    		<?foreach($this->conceptos as $concepto){
    			$parte="0";
    			if(isset($this->revision))
	    			if(array_key_exists($concepto->id_parte,$this->revision))
	    				$parte=$this->revision[$concepto->id_parte];
    			?>
	      	<tr>
		        <td><?echo $concepto->descripcion?></td>
		        <td><label class="radio-inline"><input type="radio" <?=(($parte=="1")?"checked":"")?> name="estado_<?echo $concepto->id_parte?>"  value="1"></label></td>
		        <td><label class="radio-inline"><input type="radio" <?=(($parte=="2")?"checked":"")?> name="estado_<?echo $concepto->id_parte?>" value="2"></label></td>
		        <td><label class="radio-inline"><input type="radio" <?=(($parte=="3")?"checked":"")?> name="estado_<?echo $concepto->id_parte?>" value="3"></label></td>
		        <td><label class="radio-inline"><input type="radio" <?=(($parte=="4")?"checked":"")?> name="estado_<?echo $concepto->id_parte?>" value="4"></label></td>
		    </tr>
	        <?}?>
		    </tbody>
		  </table>

  	<div><hr></div>
	<div class="row">
		<div class="form-group">
			<label for="producto" class="control-label col-md-3 col-md-offset-1" style="text-align: right";>Producto:</label>
			<div class="col-md-3">
				<input type="text" class="form-control" id="nomenclatura" placeholder="Nomenclatura del producto">
				<input type="hidden" id="producto">
				<input type="hidden" id="costo">
			</div>
			<div class="col-md-3">
				<button id="agregar" type="button" class="btn btn-primary btn-block">Agregar producto</button>
			</div>
		</div>
		</div>
	<div><hr></div>


	<div class="form-horizontal">
		<div class="form-group">
			<label for="nomenclatura" class="control-label col-md-4" style="text-align:center;">Codigo:</label>
			<label for="cantidad" class="control-label col-md-3" style="text-align:center;">Cantidad:</label>
			<label for="precio_unitario" class="control-label col-md-3 " style="text-align:center;">Costo:</label>
			<label for="iva_p" class="control-label col-md-2" style="text-align:center;">Iva:</label>
		</div>
	</div>
	<div><hr></div>

	<div  id="div_producto">
	<? if(!empty($this->productos)){
		foreach($this->productos as $r){

			?>
			<div class="form-group row ">
 				<div class=" col-md-4">
 					<input type="hidden" name="id_producto" value="<?=$this->vacio($r,'id_producto');?>" >
					<input type="text" data-error="" class="form-control "  value="<?=$this->vacio($r,'codigo_producto');?>" id="nomenclatura" name="nomenclatura" placeholder="Nomenclatura"  disabled>
				</div>
				<div class=" col-md-3">
					<input type="text" data-error="" class="form-control calculo" value="<?=$this->vacio($r,'cantidad')?>" id="cantidad" name="cantidad" placeholder="Cantidad" >
				</div>
				<div class="col-md-3">
					<div class="input-group">
						<span class="input-group-btn"><button type="button" class="btn btn-secundary " onclick="return false;" >$</button>
						</span>
						<input type="text" data-error="" class="form-control " id="precio_unitario" name="precio_unitario" value="<?=$this->vacio($r,'costo')?>" placeholder="Total"  disabled>
					</div>
				</div>
				<div class="col-md-2">
					<div class="input-group">
						<input type="text" class="form-control calculo" id="iva_p" name="iva" placeholder="Iva unitario" value="16" disabled>
						<span class="input-group-btn">
							<button type="button" class="btn btn-secundary " onclick="return false;" >%</button>
						</span>
						<span class="input-group-btn closeprod">
							<button type="button" class="btn btn-secundary " id="close closeprod ">X</button>
						</span>
					</div>
				</div>
			</div>
		<?
		}
	}?>
	</div>

	<div><hr></div>
	<!--Totales-->

	<div class="row">
		<div class="form-group  col-md-9">
			<div class="col-md-8">
			</div>
		</div>
		<div class="form-group col-md-3">
			<label for="subtotal" class="control-label col-md-4">Subtotal:</label>
			<div class="col-md-8">
				<input type="text" class="form-control" id="subtotal" name="subtotal" placeholder="Subtotal" value="<?=$this->vacio($this->datos,'subtotal')?>" >
			</div>
		</div>
	</div>

	<div class="row">
		<div class="form-group  col-md-9">
			<div class="col-md-8">
			</div>
		</div>
		<div class="form-group col-md-3">
			<label for="iva_total" class="control-label col-md-4">Iva Total:</label>
			<div class="col-md-8">
				<input type="text" class="form-control" id="iva" name="iva" placeholder="Iva total" value="<?=$this->vacio($this->datos,'iva')?>" >
			</div>
		</div>
	</div>

	<div class="row">
		<div class="form-group  col-md-9">
			<div class="col-md-8">
			</div>
		</div>
		<div class="form-group col-md-3">
			<label for="total" class="control-label col-md-4">Total:</label>
			<div class="col-md-8">
				<input type="text" class="form-control" id="total" name="total" placeholder="total" value="<?=$this->vacio($this->datos,'total')?>" >
			</div>
		</div>
	</div>

<br>
	<!--Botones-->

	<div class="form-group">
		<div class="col-md-4">
			<button type="button" data-accion="" class="btn btn-success guardar btn-lg btn-block">Guardar</button><br>
		</div>
		<div class="col-md-4">
			<button type="button" data-accion="" class="btn btn-primary btn-lg btn-block">Guardar e imprimir</button><br>
		</div>
		<div class="col-md-4">
			<button type="button" data-accion="" class="btn btn-danger btn-lg btn-block">Cancelar</button><br>
		</div>
		<br>
		</form>
	</div>
</div>
</div>