<div class='row'>
	<div class="fixer">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class='page-header' id="htitulo"><?=$this->titulo;?></h3>
						<a id="" style='float:right;margin-top:9px;'>  
							<button   onclick = "boleto.crear();" data-toggle='#myForms'  type="button" id="new" name="new" class="btn btn-success btn-xs">
							Alta de soporte
							</button>
						</a>

			</div>
			<br/>
			<div class="panel-body" id="listTable">
				<div class="tab-content">
					<div class='tab-pane fade in active' id='tab'>
					<?
						echo $this->general()->cargarBoleto($this->lista,$this->columnas);
					?> 
					</div>
				</div>
			</div>
		</div>
	</div>
</div>