<form role="form" id="miformulario" >
    <input type="hidden" value="<?=($this->vacio($this,'editar')==1)?1:0;?>" name="editar" id="editar"/>


    <div class="row">
        <div class="form-group col-md-12">
            <label for="num_boletos" class="control-label">Boleto</label>
            <input type="text" class="form-control" id="num_boletos" value="" disabled>
        </div>
        <div class="form-group col-md-12">
            <label for="num_oportunidades" class="control-label">Oportunidades</label>
            <textarea class="form-control"  rows="5" id="num_oportunidades" value="" disabled></textarea>
        </div>
        <div class="form-group col-md-12">
            <label for="nombre_completo" class="control-label">Nombre completo</label>
            <input type="text" class="form-control" id="nombre_completo" name="nombre_completo" required placeholder="Nombre completo" value="<?=$this->vacio($this->data,'nombre_completo')?>">
        </div>
        <div class="form-group col-md-6">
            <label for="telefono" class="control-label">Telefono</label>
            <div class="input-group">
                 <span class="input-group-btn" style="width: 60px;"><select class="chosen-select" id="id_lada" name="id_lada"  required>
                    <?
                    $lada="";
                    $primero=0;
                    foreach($this->ladas as $l){
                        if($primero==0)
                            $lada=$l->num;
                        $primero++;
                        if($this->vacio($this->data,'id_lada') == $this->vacio($l,'id_lada'))
                            $lada=$l->num;
                        ?>
                        <option value="<?=$l->id_lada?>" data-num="<?=$l->num?>" <?=($this->vacio($this->data,'id_lada') == $this->vacio($l,'id_lada'))? 'selected' : ''?>><?=$l->descripcion?></option>
                    <?}?>
                </select>
                </span>
                <span class="input-group-btn"><button type="button" id="btnlada" class="btn btn-secundary " style="color: #000; "  disabled onclick="return false;" >+<?=$lada?></button></span>
                <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Telefono" required value="<?=$this->vacio($this->data,'telefono')?>">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="correo" class="control-label">Correo</label>
            <input type="email" class="form-control" id="correo" name="correo" placeholder="Correo" data-error="Este correo es invalido" required value="<?=$this->vacio($this->data,'correo')?>">
            <div class="help-block with-errors" id="error_email"></div>
        </div>
        <div class="form-group col-sm-6">
            <label for="estado" class="control-label">Estado</label>
            <select class="chosen-select" id="id_estado" name="id_estado"  required>
                <option value="">Seleccione un Estado</option>
                <?foreach($this->estados as $estado){?>
                    <option value="<?=$estado->id_estado?>" <?=($this->vacio($this->data,'id_estado') == $this->vacio($estado,'id_estado'))? 'selected' : ''?>><?=$estado->estado?></option>
                <?}?>
            </select>
        </div>
        <div class="form-group col-sm-6" >
            <label for="municipio" class="control-label">Ciudad</label>
            <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Ciudad"  required value="<?=$this->vacio($this->data,'ciudad')?>">
        </div>
    </div>
</form>